
/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    overflow: hidden;
}

/* Estilo de la imagen del logo */
.navbar img {
    max-height: 100%; 
    height: 4rem; 
    width: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
}


.navbar-brand{
    font-weight: 500;
    color: #588100;
    font-size: 1rem;
    transition: 0.3s color;
}

.login-button {
    background-color: #588100;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #000;
    color: #fff;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    /* Posiciona el pseudo-elemento ::before */
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: -2px;
        /* Ajusta la posición vertical si lo necesitas */
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #588100;
        visibility: hidden;
        transition: width 0.3s ease-in-out, visibility 0.3s;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
        background-color: #588100;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
    height: 400px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: white;
    border: none;
}
h3,h5{
    color: #588100;
}

h1{
    color: white;
    margin-top: 80px;
}
