/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 80px; /* Ajustar según el tamaño de tu navbar */
    background-color: #588100; /* Fondo verde */
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin: 20px;
    border-radius: 16px;  /* Eliminar bordes redondeados */
    padding: 0.5rem 1rem;
    overflow: hidden;
    z-index: 1050; /* Asegura que la navbar esté por encima del contenido */
    box-shadow: none; /* Eliminar sombra */
}

/* Estilo de la imagen del logo */
.navbar img {
    max-height: 100%;
    height: 4rem;
    width: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.navbar-brand {
    font-weight: 500;
    color: #588100;
    font-size: 1rem;
    transition: color 0.3s;
}

/* Botón de inicio de sesión */
.login-button {
    background-color: #588100;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #000;
    color: #fff;
}

/* Botón de hamburguesa */
.navbar-toggler {
    background-color: #588100;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 0.75rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Offcanvas */
.offcanvas {
    background-color: #ffffff;
    color: #000;
    border-radius: 0;  /* Eliminar bordes redondeados */
    box-shadow: none;  /* Eliminar sombra */
    z-index: 1049; /* Menú hamburguesa por debajo de la barra de navegación */
}

/* Offcanvas header */
.offcanvas-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

.btn-close {
    color: #000;
    opacity: 1;
    font-size: 1.2rem;
}

/* Links del menú */
.offcanvas-body .nav-link {
    color: #666777;
    font-size: 1rem;
    margin: 10px 0;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative; /* Necesario para posicionar la línea de forma relativa al enlace */
    padding-bottom: 5px; /* Agregar un poco de espacio en la parte inferior */
}

.offcanvas-body .nav-link:hover {
    color: #588100; /* Color verde al pasar el mouse */
}

/* Links con animación de subrayado */
.offcanvas-body .nav-link::before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #588100;
    transition: width 0.3s;
    position: absolute;
    bottom: 0; /* Colocar la línea al final del enlace */
    left: 0;
}

/* La línea se expande al 100% cuando se pasa el mouse */
.offcanvas-body .nav-link:hover::before {
    width: 100%;
}

/* Tarjetas de cortes */
.card-img-top {
    border-radius: 0;  /* Eliminar bordes redondeados */
    padding: 20px;
    height: 400px;
}

.card {
    border-radius: 0; /* Eliminar bordes redondeados */
    box-shadow: none; /* Eliminar sombra */
}

.card-body {
    padding: 25px;
    margin-top: -15px;
}

h3, h5 {
    color: #588100;
}

h1 {
    color: white;
    margin-top: 80px;
}
